html, body, #root, .main-screen, .app-container {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
p {
  font-family: Lato;
}
.appStyle {
  height: 250px;
  display: flex;
}
.formStyle {
  margin: auto;
  padding: 23px;
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  background: #F5F5F5;
  width: 350px;
  display: block;
  margin-top: 100px;
}
.labelStyle {
  margin: 10px 0 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.inputStyle, .react-datepicker__input-container input {
  margin: 5px 0 10px 0;
  padding: 5px;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.submitStyle {
  margin: 10px 0 0 0;
  padding: 7px 10px;
  border: 1px solid #EFFFFF;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  color: white;
  display: block;
}

.button-enabled {
  background: #3085D6
}

.button-disabled {
  background: #cccccc;
  pointer-events: none;
}

.pb-30 {
  padding-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.startDate {
  float: left;
}
.endDate {
  margin-left: 620px;
}
.display-flex {
  display: flex;
}

.text-align {
  text-align: center;
}

.app-container {
    left: 66%;
    width: 30em;
    margin-left: 30%;
}

.c-red {
  color: red;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fdfcfc;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 22em;
  height: 2em;
  line-height: 2;
  background: #fdfcfc;
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid #BFBFBF;
}
select {
  flex: 1;
  padding: 0 .5em;
  color:black;
  font-weight: 100;
  cursor: pointer;
}

select option{
  color:black;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #7b8080;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.table-view {
  left: 66%;
  width: 35em;
  height: 18em;
  padding-top: 70px;
}

.viewdata {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.viewdata td, .viewdata th {
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;
}

.viewdata tr:nth-child(even){
  background-color: #f2f2f2;
}

.viewdata tr:nth-child(odd){
background-color: #c3c0bd;
}

.viewdata tr:hover {
  background-color: #ddd;
}

.viewdata th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #3085d6;;
  color: white;
  width: 200px;
}

.title {
  text-align: center;
  font-family: arial, sans-serif;
}

.table-back-button {
  width: 150px;
}

.w-140 {
  width: 140px;
}

.w-100 {
  width: 100px;
}

.main-screen {
  /* background-image: url(./calc-bg.jpg); */
}

.float-left {
  float: left;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-38 {
  padding-right: 38px;
}

.display-block {
  display: block;
}

.c-grey {
  color: #859696;
}

.react-datepicker-wrapper {
  width: 22em;
}